.navigation__reg{
  color: white;
  padding-right: 30px;
}
.navigation__log{
  color: black;
  background-color: #3DDC84;
  border-radius: 3px;
  padding: 8px 20px;
}
.navigation__link{
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
@media (max-width: 330px){
  .navigation__link{
    font-size: 10px;
  }
}