.movies{
  padding: 0 70px 80px;
}
.movies__button{
  border-radius: 6px;
  background-color: #2F2F2F;
  width: 100%;
  border: none;
  color: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 36px;
  padding: 0;
  margin-top: 50px;
}
.movies__message{
  display: none;
}
.movies__message_active{
  display: block;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 300;
  opacity: .4;
  font-style: italic;
  width: max-content;
}
@media (max-width: 900px){
  .movies{
    padding: 0 30px 80px;
  }
}
@media (max-width: 510px){
  .movies{
    padding: 0 10px 80px;
  }
}
