.title{
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: solid 1px #DADADA;
}
@media (max-width: 330px){
  .title{
    font-size: 18px;
    letter-spacing: -0.72px;
    margin: 0;
    padding-bottom: 28px;
  }
}