.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 38px;
  padding: 21px 70px;
}
.navigation__container{
  display: flex;
  align-items: center;
}
.navigation__logo{
  height: 38px;
  width: 38px;
  transition: .5s;
}

@media (max-width: 800px) {
  .navigation{
    padding: 18px 30px;
    max-height: 44px;  }
}
@media (max-width: 400px) {
  .navigation{
    padding: 18px 14px;
  }
  .navigation_padding{
    padding: 17px 28px;
    padding-right: 0;
  }
}