.movies__container{
  display: flex;
  padding-top: 70px;
  justify-content: center;
  padding-bottom: 10px;
}
.movies__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  margin: 0;
  padding: 0;
}
@media (max-width: 900px){
  .movies__container{
    padding-bottom: 30px;
  }
  .movies__list{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 35px;
  }
}
@media (max-width: 390px){
  .movies__list{
    grid-template-columns: 1fr;
    row-gap: 16px;
    column-gap: 0;
  }
}