.header{
  background-color: #073042;
  height: 74px;
  padding-bottom: 75px;
}
@media (max-width: 776px){
  .header{
    padding-bottom: 140px;
  }
}
@media (max-width: 330px){
  .header{
    padding-bottom: 70px;
  }
}